<template>
  <div class="playerList">
        <div class=toolbar><button class="refresh-btn" @click="refreshPoints"><span v-if="refreshing === false">Refresh!!!</span><i class="fa fa-spinner" v-if="refreshing === true"></i></button></div>
        <sorting :owners="owners"></sorting>
        <h1 v-if="loading === true">Loading</h1>
        <div class="owners">
            <div v-for="owner in owners" :key="owner.id" class="owner" v-bind:data-total="owner.totalPoints" :id="owner.id">
                <header>
                    <h2 class="text-center owner-name">{{owner.name}}: <span class="owner-total" v-if="refreshing === false">{{owner.totalPoints}}pts</span><i class="fa fa-spinner" v-if="refreshing === true"></i></h2>
                    <button><i class="fa fa-plus-circle"></i></button>
                </header>
                <ul class="playerList">
                    <li class="player" v-for="player in owner.players" :key="player.id">
                        <span class="name border">{{player.fullName}}:</span>
                            <span class="total">{{player.poolPoints}}pts
                                <i v-if="player.pointsLeader === true" class="fa fa-trophy"></i>
                            </span>
                        <span class="block details">
                            <span v-if="player.primaryPosition.code != 'G'">
                                <span class="goals">{{player.totalGoals}}G</span>
                                 - 
                                <span class="assists">{{player.totalAssists}}A</span>
                                 -
                                <span class="hattricks">{{player.totalHatTricks}}h/t</span>
                                 -
                                <span class="ot">{{player.totalOT}} OT goals</span>
                            </span>
                            <span v-if="player.primaryPosition.code == 'G'">
                                <span class="wins">{{player.totalWins}}W</span>
                                 -
                                <span class="shutouts">{{player.totalShutouts}} SO</span>
                            </span>
                        </span>
                        <span class="stats-link">
                            <a :href="'https://statsapi.web.nhl.com/api/v1/people/' + player.id + '?hydrate=stats(splits=playoffGameLog)'" target="_blank">Playoff Stats Link</a>
                            
                        </span>
                    </li>
                </ul>
            </div>
        </div>
  </div>
</template>

<script>
import axios from 'axios';
import Sorting from './Sorting.vue'
export default {
    data(){
        return {
            refreshing: false,
            loading: '',
            playerList: [],
            owners: [{name: 'alex', id: 0, totalPoints: 0, poolLeader: false,  players: []},{name: 'marilyn', id: 1, totalPoints: 0, poolLeader: false,  players: []},{name: 'tim', id: 2, totalPoints: 0, poolLeader: false,  players: []},{name: 'tania', id: 3, totalPoints: 0, poolLeader: false,  players: []},{name: 'gord', id: 4, totalPoints: 0, poolLeader: false,  players: []},{name: 'kelly', id: 5, totalPoints: 0, poolLeader: false,  players: []},{name: 'dale', id: 6, totalPoints: 0, poolLeader: false,  players: []},{name: 'ghost', id: 7, totalPoints: 0, poolLeader: false,  players: []}],
            players: [
                // for each of these, assign stats (goals etc..), owner id
                // Alex
                {id: 8471675, owner: 0}, // crosby: 
                {id: 8471887, owner: 0}, // hornqvist: 
                {id: 8476460, owner: 0},  // scheifele: 
                {id: 8478398, owner: 0},  // connor
                {id: 8474056, owner: 0},  // subban: 
                {id: 8477942, owner: 0},  // fiala: 
                {id: 8466139, owner: 0},  // marleau: 
                {id: 8474590, owner: 0},  // carlson:
                {id: 8476899, owner: 0},  // murray: 
                {id: 8476945, owner: 0},  // hellebuyck:
                // Marilyn
                {id: 8473512, owner: 1},  // giroux: 
                {id: 8473563, owner: 1},  // backstrom: 
                {id: 8478010, owner: 1},  // point: 
                {id: 8476792, owner: 1},  // krug:
                {id: 8477492, owner: 1},  // mackinnon: 
                {id: 8471685, owner: 1},  // kopitar: 
                {id: 8475169, owner: 1},  // E Kane: 
                {id: 8474563, owner: 1},  // doughty:
                {id: 8476234, owner: 1},  // kinkaid 
                {id: 8473575, owner: 1},  // varlamov:
                // Tim
                {id: 8471215, owner: 2},
                {id: 8477939, owner: 2},
                {id: 8470638, owner: 2},
                {id: 8475167, owner: 2},
                {id: 8471695, owner: 2}, // Rask
                {id: 8476539, owner: 2},
                {id: 8478420, owner: 2},
                {id: 8474068, owner: 2},
                {id: 8470834, owner: 2},
                {id: 8474889, owner: 2},  // Jones
                // Tania
                {id: 8479318, owner: 3},
                {id: 8473548, owner: 3},
                {id: 8474037, owner: 3},
                {id: 8471724, owner: 3},
                {id: 8475683, owner: 3}, // Bobrovsky
                {id: 8479339, owner: 3},
                {id: 8470794, owner: 3},
                {id: 8475793, owner: 3},
                {id: 8470613, owner: 3},
                {id: 8471734, owner: 3},  // Quick
                // Gord
                {id: 8476453, owner: 4},
                {id: 8474564, owner: 4},
                {id: 8473419, owner: 4},
                {id: 8479410, owner: 4},
                {id: 8476883, owner: 4}, // Vasilevskiy
                {id: 8471218, owner: 4},
                {id: 8478042, owner: 4},
                {id: 8475225, owner: 4},
                {id: 8475176, owner: 4},
                {id: 8471469, owner: 4},  // Rinne
                // Kelly
                {id: 8471214, owner: 5},
                {id: 8475791, owner: 5},
                {id: 8474161, owner: 5},
                {id: 8477355, owner: 5},
                {id: 8474651, owner: 5}, // Holtby
                {id: 8476887, owner: 5},
                {id: 8477940, owner: 5},
                {id: 8471669, owner: 5},
                {id: 8474600, owner: 5},
                {id: 8471227, owner: 5},  // Dubnyk
                // Dale
                {id: 8478483, owner: 6},
                {id: 8475172, owner: 6},
                {id: 8475744, owner: 6},
                {id: 8476853, owner: 6},
                {id: 8475883, owner: 6}, // Andersen
                {id: 8476448, owner: 6},
                {id: 8474053, owner: 6},
                {id: 8476483, owner: 6},
                {id: 8476525, owner: 6},
                {id: 8470594, owner: 6},  // Fleury
                // Ghost
                {id: 8476461, owner: 7},
                {id: 8477956, owner: 7},
                {id: 8478550, owner: 7},
                {id: 8477495, owner: 7},
                {id: 8470880, owner: 7}, // Elliott
                {id: 8470595, owner: 7},
                {id: 8470612, owner: 7},
                {id: 8474102, owner: 7},
                {id: 8474162, owner: 7},
                {id: 8476434, owner: 7},  // Gibson
            ]
        }
    },
    methods: {
        ownerPoints: function(){
            let list = this.playerList;
            
            list.map(player => {
                this.owners[player.owner].totalPoints = this.owners[player.owner].totalPoints + player.poolPoints;
            });
        },
        refreshPoints: function(){
            let ownerPoints = this.owners;
            this.refreshing = true;
            // reset everything to zero so when there's a refresh, points don't pile up.
            this.apiCall();
            ownerPoints.map(owner => owner.totalPoints = 0 );
            this.ownerPoints();
            setTimeout(() => {
                this.refreshing = false;
            }, 1000);
        },
        poolLeader: function(param){
            var ownersArray = document.querySelectorAll('.owner');
            Array.from(ownersArray).sort((b, a) =>   
                a.dataset.total.localeCompare(b.dataset.total)
            )
            .forEach(el => {
                el.parentNode.appendChild(el)
            });
        
        },
        playerLeaders: function(arr = this.playerList, prop = 'poolPoints') {
            var max;
            arr.map(player => player['pointsLeader'] = false)
            switch (prop) {
                case 'poolPoints':
                var newProperty = 'pointsLeader'
                
                break;
            
                default:
                break;
            }
            arr = this.playerList;
            for (var i = 0; i < arr.length; i++) {
                
                if (!max || parseInt(arr[i][prop]) > parseInt(max[prop]))
                    max = arr[i];
            }
            max.pointsLeader = true;
        },
        getPlayers: function (apiURL, owner, index) {
            this.loading = true;
            axios.get(apiURL)
            .then((response)  =>  {
                let singlePlayer = response.data.people[0];
                singlePlayer.owner = owner;
                let totalPoints = this.owners[owner].totalPoints;
                this.playerList.push(singlePlayer);
                this.owners[owner].players.push(singlePlayer);
                this.calculatePoints();
                this.loading = false;
            }, (error)  =>  {
                this.loading = false;
            })
        },
        apiCall: function(){
            this.players.map( (player, index) => {
                    let playerAPI = `https://statsapi.web.nhl.com/api/v1/people/${player.id}?hydrate=stats(splits=playoffGameLog)`;
                    this.getPlayers(playerAPI, player.owner, index);
            });
            this.ownerPoints();
            
        },
        calculatePoints: function(){
            this.playerList.map( (player, index) =>{
                let position = player.primaryPosition.code;
                this.mapGames(player.stats[0].splits, position, index)
            });
        },
        mapGames: function(gameArray, position, playerIndex){
            let poolPoints = 0;
            let vm = this;
            let player = vm.playerList[playerIndex];
            player.poolPoints = 0;
            if(position != 'G'){
                player.totalGoals = 0;
                player.totalAssists = 0;
                player.totalOT = 0;
                player.totalHatTricks = 0;
            }
            if(position == 'G'){
                player.totalWins = 0;
                player.totalShutouts = 0;
            }
            gameArray.map((game, index) => {
                let op = '';
                if( position != 'G' ){
                    let goals = game.stat.goals;
                    let hatTricks = Math.floor( goals / 3 );
                    let assists = game.stat.assists;
                    let ot = game.stat.overTimeGoals;
                    poolPoints = player.poolPoints + (goals * 2) + hatTricks + assists + ot;
                    player.totalGoals = player.totalGoals + goals;
                    player.totalAssists = player.totalAssists + assists;
                    player.totalOT = player.totalOT + ot;
                    player.totalHatTricks = player.totalHatTricks + hatTricks;
                }
                if( position == 'G' ){
                    let so = '';
                    let decision = '';
                    let win = 0;
                    if( game.isWin === true ){
                        decision = 'W';
                        win = 2;
                    }else {
                        decision = 'L';
                    }
                    poolPoints = player.poolPoints + win + game.stat.shutouts;
                    player.totalWins = player.totalWins + (win / 2);
                    player.totalShutouts = player.totalShutouts + game.stat.shutouts;
                }
                player.poolPoints = poolPoints;
            });
        }
    },
    beforeCreate: function(){
        setTimeout(()=> {
            this.loading = false
            this.$nextTick(() => this.ownerPoints())
        }, 1000)
    },
    created: function(){
        this.apiCall();
    },
    mounted: function(){
        this.playerLeaders();
    },
    components: {
        Sorting
    }
}
</script>

<style>
.fa,
.fas {
  font-style: normal;
  font-family: 'FA';
  font-weight: 900; }
  .fa-trophy {
    background: yellow;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 3px;
    border-radius: 100%;
}
.fa-trophy:before {
  content: "\f091"; }
.fa-spinner:before {
  content: "\f110"; }
.fa-plus-circle:before {
content: "\f055"; }
.text-center {
    text-align: center;
}
.fa-spinner, button .fa-spinner {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.owner-name {
    margin: 0;
    padding: 1.5rem 0;
    text-transform: capitalize
}
.owner header {
    background-color: #e6b914;
}
.owner-name i {
    display: inline-block;
    width: 63px;
}
ul{
    text-align: left;
    list-style-type: none;
    padding: 0;
}
li {
    padding: 0;
    margin-bottom: 5px;
}
.toolbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
.refresh-btn {
    border: 0;
    padding: 1rem 2rem;
    background: pink;
    position: fixed;
    border-radius: 100px;
    width: 150px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    z-index: 10000;
}
@media all and (max-width: 640px){
    .toolbar {
        background: black;
        display: block;
        height: 50px;
        z-index: 10000;
    }
    .refresh-btn {
        border-radius: 0;
        right: 0;
        background-color: white;
    }
}
.owners {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
.owner {
    flex: 1 0 22%;
    box-shadow: 0 0 2px;
    margin: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
}
.owner-total {
    min-width: 65px;
    display: inline-block;
}
.name {
    display: inline-block
}
.block {
    display: block;
    width: 100%;
}
.player {
    padding: 5px;
    font-weight: 700;
    margin-bottom: 10px;
}
.player:nth-child(even){
    background-color: #ccc;
}
.player:nth-child(odd){
    background-color: #eee;
}

.details {
    border-top: 1px solid #b93636;
}
.total {
    position: relative;
}
.total .fa-trophy {
    position: absolute;
    top: -8px;
    right: -35px;
    border: 1px solid purple;
}

@media all and (max-width:900px) and (min-width: 831px){
    .name {
        width: 100%;
    }
}

@media all and (max-width: 830px){
    .owner {
        flex: 1 0 48%;
    }
    .name {
        width: 75%;
    }
}

@media all and (max-width: 600px){
    .owner {
        flex: 1 0 100%;
    }
    .name {
        width: 40%;
    }
}
.fadePoints-enter-active {
  transition: all .3s ease;
}
.fadePoints-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadePoints-enter, .fadePoints-leave-to
/* .fadePoints-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
