<template>
    <div>
        <h1>Players</h1>
        <single-owner :players2="players2"></single-owner>
    </div>
</template>

<script>
import axios from 'axios';
import SingleOwner from './SingleOwner';
export default {
    data(){
        return {
            skaters: {
                // for each of these, assign stats (goals etc..), owner id
                // Alex
                '8471675': {owner: 1}, // crosby: 
                '8471887': {owner: 1}, // hornqvist: 
                '8476460': {owner: 1}, // scheifele: 
                '8478398': {owner: 1}, // connor
                '8474056': {owner: 1}, // subban: 
                '8477942': {owner: 1}, // fiala: 
                '8466139': {owner: 1}, // marleau: 
                '8474590': {owner: 1}, // carlson:
                // Marilyn
                '8473512': {owner: 2}, // giroux: 
                '8473563': {owner: 2}, // backstrom: 
                '8478010': {owner: 2}, // point: 
                '8476792': {owner: 2}, // krug:
                '8477492': {owner: 2}, // mackinnon: 
                '8471685': {owner: 2}, // kopitar: 
                '8475169': {owner: 2}, // E Kane: 
                '8474563': {owner: 2}, // doughty:
            },
            goalies: {
                // alex
                '8476899': {owner: 1}, // murray: 
                '8476945': {owner: 1}, // hellebuyck:
                // marilyn
                '8476234': {owner: 2}, // kinkaid 
                '8473575': {owner: 2}, // varlamov:
            },
            players: {
                // for each of these, assign stats (goals etc..), owner id
                // Alex
                '8471675': {owner: 1}, // crosby: 
                '8471887': {owner: 1}, // hornqvist: 
                '8476460': {owner: 1}, // scheifele: 
                '8478398': {owner: 1}, // connor
                '8474056': {owner: 1}, // subban: 
                '8477942': {owner: 1}, // fiala: 
                '8466139': {owner: 1}, // marleau: 
                '8474590': {owner: 1}, // carlson:
                '8476899': {owner: 1}, // murray: 
                '8476945': {owner: 1}, // hellebuyck:
                // Marilyn
                '8473512': {owner: 2}, // giroux: 
                '8473563': {owner: 2}, // backstrom: 
                '8478010': {owner: 2}, // point: 
                '8476792': {owner: 2}, // krug:
                '8477492': {owner: 2}, // mackinnon: 
                '8471685': {owner: 2}, // kopitar: 
                '8475169': {owner: 2}, // E Kane: 
                '8474563': {owner: 2}, // doughty:
                '8476234': {owner: 2}, // kinkaid 
                '8473575': {owner: 2}, // varlamov:
            },
            players2: [
                // for each of these, assign stats (goals etc..), owner id
                // Alex
                {id: 8471675, owner: 1}, // crosby: 
                {id: 8471887, owner: 1}, // hornqvist: 
                {id: 8476460, owner: 1},  // scheifele: 
                {id: 8478398, owner: 1},  // connor
                {id: 8474056, owner: 1},  // subban: 
                {id: 8477942, owner: 1},  // fiala: 
                {id: 8466139, owner: 1},  // marleau: 
                {id: 8474590, owner: 1},  // carlson:
                {id: 8476899, owner: 1},  // murray: 
                {id: 8476945, owner: 1},  // hellebuyck:
                // Marilyn
                {id: 8473512, owner: 2},  // giroux: 
                {id: 8473563, owner: 2},  // backstrom: 
                {id: 8478010, owner: 2},  // point: 
                {id: 8476792, owner: 2},  // krug:
                {id: 8477492, owner: 2},  // mackinnon: 
                {id: 8471685, owner: 2},  // kopitar: 
                {id: 8475169, owner: 2},  // E Kane: 
                {id: 8474563, owner: 2},  // doughty:
                {id: 8476234, owner: 2},  // kinkaid 
                {id: 8473575, owner: 2},  // varlamov:
                // Tim
                {id: 8471215, owner: 3},
                {id: 8477939, owner: 3},
                {id: 8470638, owner: 3},
                {id: 8475167, owner: 3},
                {id: 8471695, owner: 3}, // Rask
                {id: 8476539, owner: 3},
                {id: 8478420, owner: 3},
                {id: 8474068, owner: 3},
                {id: 8470834, owner: 3},
                {id: 8474889, owner: 3},  // Jones
            ]
        }
    },
    methods: {
    getStats: function (apiURL, owner, index) {
        // console.log('OWNER: ' + owner)
        this.loading = true;
        axios.get(apiURL)
        .then((response)  =>  {
            let currentPlayer = this.players2[index];
            let player = response.data.people[0]
            let stats = player.stats[0].splits[0].stat;
            let position = player.primaryPosition.code;
            let name = player.fullName;
            currentPlayer.name = name;
            console.log(player)
            if( position != 'G' ){ // not a goalie
                //   obj.goals = stats.goals;
                // let hatTricks = Math.floor(stats.goals / 3 ); no hattricks yet

                // /////////////////////
                // HAT TRICKS: LOOP THROUGH THIS ENPOINT
                // /////////////////////
                // https://statsapi.web.nhl.com/api/v1/people/8471887?hydrate=stats(splits=playoffGameLog)


                currentPlayer.goals = stats.goals;
                currentPlayer.assists = stats.assists;
                currentPlayer.points = parseInt(stats.goals) + parseInt(stats.assists);
                currentPlayer.poolPoints = ( parseInt(stats.goals) * 2 ) + parseInt(stats.assists); // no hattricks yet
                currentPlayer.position = 'skater';
            }else{ // is a goalie
                var shutouts = '';
                var wins = '';
                if(stats.shutouts == undefined){
                    stats.shutouts = 0;
                }
                // console.log(stats.shutouts)
                if(stats.wins == undefined || stats.wins == NaN || stats.wins == null || !stats.wins ){
                    wins = 0;
                }else{
                    wins = stats.wins
                }
                // if(stats.shutouts === undefined || stats.shutouts === NaN || stats.shutouts === null || !stats.shutouts ){
                //     shutouts = 0;
                // }else{
                //     shutouts = stats.shutouts
                // }
                // shutouts = 10;
                currentPlayer.wins = stats.wins;
                currentPlayer.shutouts = stats.shutouts;
                currentPlayer.poolPoints = (stats.wins * 2) + stats.shutouts;
                currentPlayer.position = 'goalie';
            }
            // console.log(this.players2)
        }, (error)  =>  {
            this.loading = false;
        })
    },
    displayStats: function(){
    //   console.log(this.players2)
      this.players2.map( (player, index) => {
        //   let id = player.id;
        
            // console.log(player);
            let playerAPI = `https://statsapi.web.nhl.com/api/v1/people/${player.id}?hydrate=stats(splits=statsSingleSeasonPlayoffs)`;
            this.getStats(playerAPI, player.owner, index)
      });
    //   let owner = this.people.name.toLowerCase();
    //   console.log(owner)
    //   let arr = this.peopleAlt;
    //   // this.peopleAlt.map(player => {
    //   this.people.players.map(player => { // trying to get props in here
    //     // console.log(player)
    //     // let id = player.playerID;
    //     let playerAPI = `https://statsapi.web.nhl.com/api/v1/people/${player}?hydrate=stats(splits=statsSingleSeasonPlayoffs)`;
    //     this.getStats(playerAPI, owner);
    //   });
    }
  },
  beforeMount: function(){
      this.displayStats()
  },
  mounted: function(){
      console.log(this.players2)
  },
  components: {
      SingleOwner
  }
}
</script>
