<template>

    <div class="container">
        <h1>Players</h1>
        <div class="owner-grid">
            <single-owner :players2="players2"></single-owner>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import SingleOwner from './SingleOwner';
export default {
    data(){
        return {
            newPlayers : [],
            players2: [
                // for each of these, assign stats (goals etc..), owner id
                // Alex
                {id: 8471675, gamesPlayed: 0, owner: 1}, // crosby: 
                {id: 8471887, gamesPlayed: 0, owner: 1}, // hornqvist: 
                {id: 8476460, gamesPlayed: 0, owner: 1},  // scheifele: 
                {id: 8478398, gamesPlayed: 0, owner: 1},  // connor
                {id: 8474056, gamesPlayed: 0, owner: 1},  // subban: 
                {id: 8477942, gamesPlayed: 0, owner: 1},  // fiala: 
                {id: 8466139, gamesPlayed: 0, owner: 1},  // marleau: 
                {id: 8474590, gamesPlayed: 0, owner: 1},  // carlson:
                {id: 8476899, gamesPlayed: 0, owner: 1},  // murray: 
                {id: 8476945, gamesPlayed: 0, owner: 1},  // hellebuyck:
                // Marilyn
                {id: 8473512, gamesPlayed: 0, owner: 2},  // giroux: 
                {id: 8473563, gamesPlayed: 0, owner: 2},  // backstrom: 
                {id: 8478010, gamesPlayed: 0, owner: 2},  // point: 
                {id: 8476792, gamesPlayed: 0, owner: 2},  // krug:
                {id: 8477492, gamesPlayed: 0, owner: 2},  // mackinnon: 
                {id: 8471685, gamesPlayed: 0, owner: 2},  // kopitar: 
                {id: 8475169, gamesPlayed: 0, owner: 2},  // E Kane: 
                {id: 8474563, gamesPlayed: 0, owner: 2},  // doughty:
                {id: 8476234, gamesPlayed: 0, owner: 2},  // kinkaid 
                {id: 8473575, gamesPlayed: 0, owner: 2},  // varlamov:
                // Tim
                {id: 8471215, gamesPlayed: 0, owner: 3},
                {id: 8477939, gamesPlayed: 0, owner: 3},
                {id: 8470638, gamesPlayed: 0, owner: 3},
                {id: 8475167, gamesPlayed: 0, owner: 3},
                {id: 8471695, gamesPlayed: 0, owner: 3}, // Rask
                {id: 8476539, gamesPlayed: 0, owner: 3},
                {id: 8478420, gamesPlayed: 0, owner: 3},
                {id: 8474068, gamesPlayed: 0, owner: 3},
                {id: 8470834, gamesPlayed: 0, owner: 3},
                {id: 8474889, gamesPlayed: 0, owner: 3},  // Jones
                // Tania
                {id: 8479318, gamesPlayed: 0, owner: 4},
                {id: 8473548, gamesPlayed: 0, owner: 4},
                {id: 8474037, gamesPlayed: 0, owner: 4},
                {id: 8471724, gamesPlayed: 0, owner: 4},
                {id: 8475683, gamesPlayed: 0, owner: 4}, // Bobrovsky
                {id: 8479339, gamesPlayed: 0, owner: 4},
                {id: 8470794, gamesPlayed: 0, owner: 4},
                {id: 8475793, gamesPlayed: 0, owner: 4},
                {id: 8470613, gamesPlayed: 0, owner: 4},
                {id: 8471734, gamesPlayed: 0, owner: 4},  // Quick
                // Gord
                {id: 8476453, gamesPlayed: 0, owner: 5},
                {id: 8474564, gamesPlayed: 0, owner: 5},
                {id: 8473419, gamesPlayed: 0, owner: 5},
                {id: 8479410, gamesPlayed: 0, owner: 5},
                {id: 8476883, gamesPlayed: 0, owner: 5}, // Vasilevskiy
                {id: 8471218, gamesPlayed: 0, owner: 5},
                {id: 8478042, gamesPlayed: 0, owner: 5},
                {id: 8475225, gamesPlayed: 0, owner: 5},
                {id: 8475176, gamesPlayed: 0, owner: 5},
                {id: 8471469, gamesPlayed: 0, owner: 5},  // Rinne
                // Kelly
                {id: 8471214, gamesPlayed: 0, owner: 6},
                {id: 8475791, gamesPlayed: 0, owner: 6},
                {id: 8474161, gamesPlayed: 0, owner: 6},
                {id: 8477355, gamesPlayed: 0, owner: 6},
                {id: 8474651, gamesPlayed: 0, owner: 6}, // Holtby
                {id: 8476887, gamesPlayed: 0, owner: 6},
                {id: 8477940, gamesPlayed: 0, owner: 6},
                {id: 8471669, gamesPlayed: 0, owner: 6},
                {id: 8474600, gamesPlayed: 0, owner: 6},
                {id: 8471227, gamesPlayed: 0, owner: 6},  // Dubnyk
                // Dale
                {id: 8478483, gamesPlayed: 0, owner: 7},
                {id: 8475172, gamesPlayed: 0, owner: 7},
                {id: 8475744, gamesPlayed: 0, owner: 7},
                {id: 8476853, gamesPlayed: 0, owner: 7},
                {id: 8475883, gamesPlayed: 0, owner: 7}, // Andersen
                {id: 8476448, gamesPlayed: 0, owner: 7},
                {id: 8474053, gamesPlayed: 0, owner: 7},
                {id: 8476483, gamesPlayed: 0, owner: 7},
                {id: 8476525, gamesPlayed: 0, owner: 7},
                {id: 8470594, gamesPlayed: 0, owner: 7},  // Fleury
                // Ghost
                {id: 8476461, gamesPlayed: 0, owner: 8},
                {id: 8477956, gamesPlayed: 0, owner: 8},
                {id: 8478550, gamesPlayed: 0, owner: 8},
                {id: 8477495, gamesPlayed: 0, owner: 8},
                {id: 8470880, gamesPlayed: 0, owner: 8}, // Elliott
                {id: 8470595, gamesPlayed: 0, owner: 8},
                {id: 8470612, gamesPlayed: 0, owner: 8},
                {id: 8474102, gamesPlayed: 0, owner: 8},
                {id: 8474162, gamesPlayed: 0, owner: 8},
                {id: 8476434, gamesPlayed: 0, owner: 8},  // Gibson
            ]
        }
    },
    methods: {
        goalsAssists: function(array, player, currentPlayer, index){
            // console.log(Object.keys(array).length)
            var numberOfGames = Object.keys(array).length;
            // var index = 0;
            // this.players2[player.id].gamesPlayed = numberOfGames;
            // console.log(this.players2[index]);
            this.players2[index].gamesPlayed = numberOfGames;
            // index++;
            if( player.primaryPosition.code == 'G' || numberOfGames === 0 ){
                
                if(!!currentPlayer.shutouts === false){
                    currentPlayer.shutouts = 0;
                }
                // double bang to check truthiness
                // https://toddmotto.com/methods-to-determine-if-an-object-has-a-given-property/
                if(!!currentPlayer.wins === false ){
                    currentPlayer.wins = 0;
                }
                // double bang to check truthiness
                if(!!currentPlayer.poolPoints === false ){
                    currentPlayer.poolPoints = 0;
                }
                if(!!currentPlayer.losses === false){
                    currentPlayer.losses = 0;
                }
            }
            if(numberOfGames === 0){
                currentPlayer.goals = currentPlayer.assists = currentPlayer.wins = currentPlayer.losses = currentPlayer.poolPoints = currentPlayer.overTimeGoals = 0;
            } else{
                array.map(data =>{
                    let stats = data.stat;
                    if( player.primaryPosition.code != 'G' ){ // not a goalie
                        
                        if(!!currentPlayer.goals === false){
                            currentPlayer.goals = 0;
                        }
                        if(!!currentPlayer.assists === false){
                            currentPlayer.assists = 0;
                        }
                        if(!!currentPlayer.points === false){
                            currentPlayer.points = 0;
                        }
                        if(!!currentPlayer.poolPoints === false){
                            currentPlayer.poolPoints = 0;
                        }
                        if( !!currentPlayer.hattricks === false ){
                            currentPlayer.hattricks = 0;
                        }
                        if( !!currentPlayer.overTimeGoals === false ){
                            currentPlayer.overTimeGoals = 0;
                        }
                        let hatTricks = Math.floor( stats.goals / 3 )
                        currentPlayer.hattricks = currentPlayer.hattricks + hatTricks;
                        currentPlayer.goals = currentPlayer.goals + stats.goals;
                        currentPlayer.assists = currentPlayer.assists + stats.assists;
                        currentPlayer.points = currentPlayer.points + parseInt(stats.goals) + parseInt(stats.assists);
                        currentPlayer.poolPoints = currentPlayer.poolPoints + ( parseInt(stats.goals) * 2 ) + parseInt(stats.assists) + hatTricks + stats.overTimeGoals; 
                        currentPlayer.position = 'skater';
                    }else{ // is a goalie
                        var decision = '';
                        if(stats.decision == 'L' || !!stats.decision === false){
                            decision = 0;
                        }else if( stats.decision == 'W'){
                            decision = 1;
                        }
                        currentPlayer.wins = currentPlayer.wins + decision;
                        currentPlayer.shutouts = currentPlayer.shutouts + stats.shutouts;
                        currentPlayer.poolPoints = currentPlayer.poolPoints + (decision * 2) + stats.shutouts;
                        currentPlayer.position = 'goalie';
                        // console.log(currentPlayer)
                    }
                });
            }
        },
        newStats: function (apiURL, owner, index) {
            // this.loading = true;
            axios.get(apiURL)
            .then((response)  =>  {
                this.newPlayers = response.data;
                // console.log(response.data);
            }, (error)  =>  {
                this.loading = false;
            })
        },
        getStats: function (apiURL, owner, index) {
            // this.loading = true;
            axios.get(apiURL)
            .then((response)  =>  {
                // this.newPlayers = response.data;
                // console.log(response.data);
                let currentPlayer = this.players2[index];
                let player = response.data.people[0]
                let position = player.primaryPosition.code;
                let statsArray = player.stats[0].splits;
                
                let name = player.fullName;
                currentPlayer.name = name;
                this.goalsAssists(statsArray, player, currentPlayer, index);
            }, (error)  =>  {
                this.loading = false;
            })
        },
        displayStats: function(){
        this.players2.map( (player, index) => {
            //   let id = player.id;
            
                // console.log(player);
                // let playerAPI = `https://statsapi.web.nhl.com/api/v1/people/${player.id}?hydrate=stats(splits=statsSingleSeasonPlayoffs)`;
                let playerAPI = `https://statsapi.web.nhl.com/api/v1/people/${player.id}?hydrate=stats(splits=playoffGameLog)`;
                this.getStats(playerAPI, player.owner, index)
        });
        }
  },
  beforeMount: function(){
      this.displayStats();
  },
  mounted: function(){
    //   console.log(this.players2)
  },
  created: function(){
    //   console.log(this.newPlayers);
  },
  components: {
      SingleOwner
  }
}
</script>
