<template>
  <div>
      hello
      <!-- <button @click="getStats">click!!!!!</button> -->
      <!-- <button @click="showPlayers">STATS!!!!!</button> -->
      <!-- <div v-for="people in poolPeople" :key="people.id" :people="people"> -->
          <!-- <h2>{{people.name}}</h2> -->
          <single-owner v-for="people in poolPeople" :key="people.id" :people="people"></single-owner>
      <!-- </div> -->
      <!-- <div class="poolPerson" v-for=""></div> -->
  </div>
</template>

<script>
// https://statsapi.web.nhl.com/api/v1/statTypes
// https://statsapi.web.nhl.com/api/v1/people/8473575?hydrate=stats(splits=playoffGameLog)


// import axios from 'axios';
import SingleOwner from './SingleOwner'
// const sportradar = "https://api.sportradar.us/nhl/trial/v5/en/seasons/2015/REG/leaders/offense.xml?api_key=6928594nrsvrx54hjc8rjh68"
export default {
    name: 'app',
    data () {
        return {
            loading: false,
            playerArray: [
                '8471675', //crosby: 
                '8471887', // hornqvist: 
                '8476460', // scheifele: 
                '8478398', // connor: 
                '8476899', // murray: 
                '8476945', // hellebuyck: 
                '8474056', // subban: 
                '8477942', // fiala: 
                '8466139', // marleau: 
                '8474590', // carlson:
            ],
            apiArray: [],
            poolPeople: {
                alex: {
                    name: 'Alex',
                    id: 1,
                    players: [
                        '8471675', // crosby: 
                        '8471887', // hornqvist: 
                        '8476460', // scheifele: 
                        '8478398', // connor: 
                        '8476899', // murray: 
                        '8476945', // hellebuyck: 
                        '8474056', // subban: 
                        '8477942', // fiala: 
                        '8466139', // marleau: 
                        '8474590', // carlson:
                    ]
                },
                marilyn: {
                    name: 'Marilyn',
                    id: 2,
                    players: [
                        '8473512', // giroux: 
                        '8473563', // backstrom: 
                        '8478010', // point: 
                        '8476792', // krug: 
                        '8473575', // varlamov:
                        '8476234', // kinkaid: 
                        '8477492', // mackinnon: 
                        '8471685', // kopitar: 
                        '8475169', // E Kane: 
                        
                        '8474563', // doughty: 
                    ]
                },
                tim: {
                    name: 'Tim',
                    id: 2,
                    players: [
                        '8471215',
                        '8477939',
                        '8470638',
                        '8475167',
                        '8471695', // Rask
                        '8476539',
                        '8478420',
                        '8474068',
                        '8470834',
                        '8474889'  // Jones
                    ]
                },
                tania: {
                    name: 'Tania',
                    id: 3,
                    players: [
                        '8479318',
                        '8473548',
                        '8474037',
                        '8471724',
                        '8475683', // Bobrovsky
                        '8479339',
                        '8470794',
                        '8475793',
                        '8470613',
                        '8471734'  // Quick
                    ]
                }
            },
            peopleAlt: [
                {owner: 1, playerID: 8471675, goals: '' }, // crosby
                {owner: 1, playerID: 8471887, goals: '' }, // hornqvist
                {owner: 1, playerID: 8476460, goals: '' }, // scheifele
                {owner: 1, playerID: 8478398, goals: '' }, // connor
                {owner: 1, playerID: 8476899, goals: '' }, // murray
                {owner: 1, playerID: 8476945, goals: '' }, // hellebuyck
                {owner: 1, playerID: 8474056, goals: '' }, // subban
                {owner: 1, playerID: 8477942, goals: '' }, // fiala
                {owner: 1, playerID: 8466139, goals: '' }, // marleau
                {owner: 1, playerID: 8474590, goals: '' }, // carlson
            ],
            players: {},
            owners: {}
        }
    }, 
    components: {
        SingleOwner
    }
}
</script>
