<template>
  <div>
    <!-- <sort-leaders :owners="owners"></sort-leaders> -->
    <div class="owner" v-for="owner in owners" :key="owner.id" v-bind:data-total="owner.poolTotal">
      <div class="inner">
        <h2>{{ owner.ownerName }}: {{ owner.poolTotal }} points</h2>
        
        <div class="player" v-for="player in owner.players" :key="player.id" v-bind:class="{noGames: player.gamesPlayed === 0}">
          <div class="playerPoints">
            <span class="playerName">{{ player.name }}<i v-if="player.pointsLeader === true" class="fa fa-trophy"></i></span>
            <span class="stats" v-if="player.position === 'goalie'">
              <span>{{ player.wins }}W</span>
              <span>{{ player.shutouts }}SO</span>
            </span>
            <span class="stats" v-if="player.position === 'skater'">
              <span>{{ player.goals }}G</span>
              <span>{{ player.assists }}A</span>
              
            </span>
            
            <span class="poolPoints">{{ player.poolPoints }}P</span>
          </div>
          <div class="bonusPoints">
            <div v-if="player.position === 'skater'" class="skaterStats">
              <span class="hatTricks">
                <i class="fa fa-hockey-puck"></i>
                <i class="fa fa-hockey-puck"></i>
                <i class="fa fa-hockey-puck"></i>
                <span class="bonusStat">{{player.hattricks}} hat trick<span v-if="player.hattricks != 1">s</span></span>
              </span>
              <span class="overtime">
                <i class="far fa-clock"></i>
                <span class="bonusStat">{{player.overTimeGoals}} OT goal<span v-if="player.overTimeGoals != 1">s</span></span>
              </span>
              
            </div>
            <div v-if="player.position === 'goalie'" class="goalieStats" >
              <span class="shutouts">
                <i class="fa fa-ban"></i>
                <strong>{{player.shutouts}}SO</strong>
              </span>
            </div>
            
          </div>
        </div> <!-- player -->
      </div>
    </div>
  </div>
</template>

<script>
import SortLeaders from './SortLeaders';
export default {
  props: ['players2'],
  data(){
    return {
      owners: {
        alex: {ownerName: 'Alex', players: [], poolTotal: 0},
        marilyn: {ownerName: 'Marilyn', players: [], poolTotal: 0},
        tim: {ownerName: 'Tim', players: [], poolTotal: 0},
        tania: {ownerName: 'Tania', players: [], poolTotal: 0},
        gord: {ownerName: 'Gord', players: [], poolTotal: 0},
        kelly: {ownerName: 'Kelly', players: [], poolTotal: 0},
        dale: {ownerName: 'Dale', players: [], poolTotal: 0},
        ghost: {ownerName: 'Ghost', players: [], poolTotal: 0},
      }
    }
  },
  methods: {
    sortToOwner: function(){
      this.players2.map(player => {
        var vm = this;
        switch (player.owner) {
          case 1:
            var array = this.owners.alex.players;
            array.splice(array.length, player.id, player);
            this.owners.alex.poolTotal = this.owners.alex.poolTotal + player.poolPoints;
            break;

          case 2:
            var array = this.owners.marilyn.players;
            array.splice(array.length, player.id, player);
            this.owners.marilyn.poolTotal = this.owners.marilyn.poolTotal + player.poolPoints;
            break;

          case 3:
            var array = this.owners.tim.players;
            array.splice(array.length, player.id, player);
            this.owners.tim.poolTotal = this.owners.tim.poolTotal + player.poolPoints;
            break;

          case 4:
            var array = this.owners.tania.players;
            array.splice(array.length, player.id, player);
            this.owners.tania.poolTotal = this.owners.tania.poolTotal + player.poolPoints;
            break;

          case 5:
            var array = this.owners.gord.players;
            array.splice(array.length, player.id, player);
            this.owners.gord.poolTotal = this.owners.gord.poolTotal + player.poolPoints;
            break;
          
          case 6:
            var array = this.owners.kelly.players;
            array.splice(array.length, player.id, player);
            this.owners.kelly.poolTotal = this.owners.kelly.poolTotal + player.poolPoints;
            break;

          case 7:
            var array = this.owners.dale.players;
            array.splice(array.length, player.id, player);
            this.owners.dale.poolTotal = this.owners.dale.poolTotal + player.poolPoints;
            break;
          
          case 8:
            var array = this.owners.ghost.players;
            array.splice(array.length, player.id, player);
            this.owners.ghost.poolTotal = this.owners.ghost.poolTotal + player.poolPoints;
            break;
        
          default:
            break;
        }
      })
    },
    getLeaders: function(arr, prop) {
      switch (prop) {
        case 'poolPoints':
          var newProperty = 'pointsLeader'
          break;
      
        default:
          break;
      }
      var max;
      for (var i = 0; i < arr.length; i++) {
        
          if (!max || parseInt(arr[i][prop]) > parseInt(max[prop]))
              max = arr[i];
      }
      max[newProperty] = true; 
    }
  }, // methods
  // beforeMount: function(){
    // this.sortToOwner()
  // }
  created: function(){
    this.sortToOwner();
    this.getLeaders(this.players2, 'poolPoints');
    // console.log(this.owners);
  },
  components: {
    SortLeaders
  }
}
</script>

<style>
/* .owner-grid {
  display: flex;
  text-align: left;
  font-size: 12px;
  padding: 0 2%;
}

.owner-grid .owner {
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding: 8px;
}

.owner-grid .inner {
  border: 1px solid #000;
  padding: 10px;
}

.playerName {
  width: 140px;
  display: inline-block;
}

.noGames {
  background: red;
}

.player {
  border: 1px solid;
  margin-bottom: 10px;
}
.player:nth-child(odd){
    background: #ddd
}
.player:last-of-type {
  margin-bottom: 0;
}
.player span {
  text-align: center;
}
.player > span span {
  text-align: center;
  width: 25px;
  display: inline-block;
}
.player .playerName {
  white-space: pre;
  font-weight: 900;
  text-align: left;
  border-right: 1px solid;
  display: inline-block;
  height: 100%;
  padding-left: 5px;
}
.player .poolPoints, .player .playerName {
  border-right: 1px solid;
}
.player .poolPoints {
  width: 25px;
  display: inline-block;
}
.bonusPoints {
  font-weight: 900;
  border-top: 1px solid;
}
.bonusPoints, .bonusPoints span {
  height: 26px;
  line-height: 26px;
}
.bonusPoints span span {
  width: auto;
}
.bonusStat {
  margin: 0 3px;
  padding: 0 3px;
  display: inline-block;
}

.playerPoints, .playerPoints span {
  height: 40px;
  line-height: 40px;
}
.playerPoints span {
  display: inline-block;
}
.stats span {
  padding: 0 3px;
}
.fa-trophy {
    background: yellow;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 3px;
    border-radius: 100%;
}
.fa-trophy:before {
  content: "\f091"; }
.fa-ban:before {
  content: "\f05e"; }
.fa-hockey-puck:before {
  content: "\f453"; }
  .fa-clock:before {
  content: "\f017"; }
@font-face {
  font-family: 'FA Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'FA Brands'; }
@font-face {
  font-family: 'FA';
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'FA';
  font-weight: 400; }
@font-face {
  font-family: 'FA';
  font-style: normal;
  font-weight: 900;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-style: normal;
  font-family: 'FA';
  font-weight: 900; } */

</style>

