<template>
    <div>
        <button @click="poolLeader">Pool Leader</button>
    </div>
</template>

<script>
export default {
  props: ['owners'],
  methods: {
        poolLeader: function(){
            var ownersArray = document.querySelectorAll('.owner');
            Array.from(ownersArray).sort((b, a) =>   
                a.dataset.total.localeCompare(b.dataset.total)
            )
            .forEach(el => {
                el.parentNode.appendChild(el)
            });
        
        }
    }
}
</script>
