<template>
  <div class="sorting">
      <button @click="poolLeader"><i class="fa fa-sort-numeric-down"></i>Sort by Leaders</button>
  </div>
</template>
<script>
export default {
    props: ['owners'],
    methods: {
        poolLeader: function(){
            // var obj = this.owners;
            var ownersArray = document.querySelectorAll('.owner');
            Array.from(ownersArray).sort((b, a) =>   
                a.dataset.total.localeCompare(b.dataset.total)
            )
            .forEach(el => el.parentNode.appendChild(el));
        }
    },
    created: function(){
        // this.poolLeader(); 
    }
}
</script>

<style>
@font-face {
  font-family: 'FA Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'FA Brands'; }
@font-face {
  font-family: 'FA';
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'FA';
  font-weight: 400; }
@font-face {
  font-family: 'FA';
  font-style: normal;
  font-weight: 900;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
  font-style: normal;
  font-family: 'FA';
  font-weight: 900; }
.fa-sort-numeric-down:before {
  content: "\f162"; }
</style>
