<template>
  <div id="app">
    <!-- <pool></pool> -->
    <h1>2018 Playoff Pool</h1>
    <p>All stats from nhl.com</p>
    <p>All calculations by Alex. Triple check your scores...</p>
    <list-players></list-players>
    <!-- <players></players> -->
    <!-- <router-view/>> -->
  </div>
</template>

<script>
// https://statsapi.web.nhl.com/api/v1/statTypes
import Pool from "./components/Pool";
import Players from "./components/Players";
import ListPlayers from "./components/ListPlayers";
export default {
  name: 'App',
  components: {
    Pool,
    Players,
    ListPlayers
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
